<h3><%= @user.username %>'s profile</h3>

<h4>Subs <%= @user.username %> moderates:</h4>
<ul id="subs">
  <% @user.moderated_subs.each do |sub| %>
    <li class="sub"><%= link_to sub.title, sub_url(sub) %></li>
  <% end %>
</ul>

<%= "#{@user.username} doesn't moderate anything" if @user.moderated_subs.empty? %>